<!DOCTYPE html>
<html lang="en">
<head>
    <title>Library Webpage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
            <nav>
              <a href="/pages/Report.html" onclick="goBack()">Go Back</a>
          </nav>
          <section title="Graph">
            <canvas id="myChart"></canvas> 
                <script>
                    let x = <%- JSON.stringify(monthlyNumbers.months) %>
                    let y = <%- JSON.stringify(monthlyNumbers.monthValue) %>
                    
                    monthlyChart(x, y)
                    function monthlyChart(months, questions)
                    {
                        const stringMonths = [];
                        for (let i = 0; i < months.length; i++)
                            {
                                let monthsNumber = months[i].slice(5,8);
                                switch(monthsNumber)
                            {
                                case "01":
                                stringMonths.push("Janurary")
                                break;
                                case "02":
                                stringMonths.push("February")
                                break;
                                case "03":
                                stringMonths.push("March")
                                break;
                                case "04":
                                stringMonths.push("April")
                                break;
                                case "05":
                                stringMonths.push("May")
                                break;
                                case "06":
                                stringMonths.push("June")
                                break;
                                case "07":
                                stringMonths.push("July")
                                break;
                                case "08":
                                stringMonths.push("August")
                                break;
                                case "09":
                                stringMonths.push("Semptember")
                                break;
                                case "10":
                                stringMonths.push("October")
                                break;
                                case "11":
                                stringMonths.push("November")
                                break;
                                case "12":
                                stringMonths.push("December")
                                break;
                                                                }
                            }
                        const xValues = stringMonths
                        const yValues = questions
    
                        new Chart("myChart", {
                        type: "line",
                        data: {
                        labels: xValues,
                        datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor:"rgba(0,0,255,1.0)",
                        borderColor: "Black",
                        data: yValues
                                    }]
                              },
                        options:
                        { 
                            legend: {display: false},
                            elements: {point: {radius: 6}},
                        }
                                            });
                                        }
                </script>
            
          </section>
          <hr>
          <section title="Table">
            <table><tr><th>Month</th><th>Total Questions<th></tr>
                <tr><td> <%=monthlyNumbers.months[0]%> </td><td>  <%=monthlyNumbers.monthValue[0]%> </td></tr> 
                <tr><td> <%=monthlyNumbers.months[1]%> </td><td>  <%=monthlyNumbers.monthValue[1]%> </td></tr>
                <tr><td> <%=monthlyNumbers.months[2]%> </td><td>  <%=monthlyNumbers.monthValue[2]%> </td></tr>  
                <tr><td> <%=monthlyNumbers.months[3]%> </td><td>  <%=monthlyNumbers.monthValue[3]%> </td></tr> 
                <tr><td> <%=monthlyNumbers.months[4]%> </td><td>  <%=monthlyNumbers.monthValue[4]%> </td></tr> 
                <tr><td> <%=monthlyNumbers.months[5]%> </td><td>  <%=monthlyNumbers.monthValue[5]%> </td></tr> 
                </table>
          </section>
</body>
</html>



